<p style="margin-top:24px;">Thank you!</p>
<p style="margin:8px 0 0 0;">
  <a href="<%= root_url %>" style="text-decoration:none;display:inline-block;">
    <img src="<%= "#{root_url}gs-logo.png" %>" alt="GivingShelf" style="height:28px;width:auto;border:0;display:block;" />
  </a>
</p>
